.header {
    background: none;
    width: 100%;
    position: relative;

    .d2 {
        margin: 0;
        line-height: 1;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
}

.header__right-content, .header-right__added {
    height: 7.5rem;
    display: flex;
    align-items: center;
}

.header__right-content {
    position: absolute;
    right: 3rem;
    top :0;
}

.header-right__added{
    & > * {
        margin-right: 1.3rem;
    }
}