.preview-single {
    display: block;
    text-decoration: none;
    padding: 2rem 0;
    border-bottom: solid 1px $grey;
}

.preview__subject, .preview__title, .preview__date{
    font-family: $font-main;
    margin: 0;
}

.preview__date-subject {
    margin-bottom: $s-size;
}

.preview__subject {
    font-size: $font-size-xxs;
    letter-spacing: 0.15rem;
    font-weight: 500;
    color: $grey-darker;
    display: inline-block;
    margin-right: 1rem;
}

.preview__title {
    font-size: $font-size-md;
    color: $grey-darker;
    display: inline-block;
    font-weight: 400;
}

.preview__date {
    font-size: 1.2rem;
    color: $grey;
    letter-spacing: 0.15rem;
    font-weight: 500;
}