 .profile-dropdown {
     position: relative;
 }

 .profile-dropdown__options {
     position: absolute;
     right: 0;
     bottom: -1px;
     width: 15.7rem;
     list-style: none;
     visibility: visible;
     transform: translateY(100%);
 }

 .profile-icon {
     cursor: pointer;
     display: block;
     box-shadow: none;
     outline: none;
     border: none;
 }

 .profile-dropdown__single-option {
     background: $white;

    .profile-dropdown__logout {
        background: $white;
        padding: $s-size;
        box-shadow: none;
        outline: none;
        border: none;
        margin: 0;
        line-height: 1;
        font-weight: 500;
        color: $grey-darker;
        transition: all 0.5s ease;
        width: 100%;
        text-align: center;

        &:hover {
            background: $grey-darker;
            color: $white;
        }
    }
 }