.search-ui {
    width: 100%;
    margin-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.input-search__text {
    border-bottom: solid 1px $grey;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;

    .search-input__label {
        position: absolute;
        right: 1rem;
        top: 22px;
        transform: translateY(-50%);
    }

    .input-text {
        width: 100%;
        padding: 1rem;
        border: 0;
        font-size: 1.8rem;
        color: $grey-text;
        font-weight: 500;
        letter-spacing: .2rem;
        

        &::-webkit-input-placeholder, &:-ms-input-placeholder, &::placeholder, &:-moz-placeholder {
            color: $grey!important;
          }

        &:focus, &:active {
            outline: none;
            color: $grey-darker;
            background: fade-out($blue, 0.9);
        }
    }
}

.input-search__filter {
    .input-select, .btn-filter {
        font-size: $font-size-xxs;
        color: $grey-text;
        background: none;
        border: none;
        letter-spacing: 0.15rem;
        font-weight: 500;

        &:focus, &:active {
            outline: none;
        }
    }

    .btn-filter {
        color: $grey-darker;
    }
}