 .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 38.5rem;
    background: $white;
    padding: 4rem;
    overflow-y: scroll;
 }

 .content-page {
    position: relative;
    min-height: 100vh;
    width: calc(100% - 38.5rem);
    margin-left: auto;
    background: $grey-light;
 }