.msg-widget {
    width: 38rem;
    padding: 3rem 5rem;
    text-align: center;
    margin: 0 auto;

    .msg__title {
        font-family: $font-welcome;
        font-size: $font-size-lg;
        color: $grey-darker;
        margin: 0;
        font-style: italic;
    }

    .msg__msg{
        display: inline-block;
        font-size: $font-size-sm;
        margin: 0;
        margin-bottom: 2rem;
    }

    .msg__image {
        width: 20rem;
        display: inline-block;
        margin-bottom: 2rem;
    }

    .btn--blue {
        font-weight: bold;
        background: linear-gradient(to right, #31c6ff, #4ea7ff);
    }
}