html {
    font-size: 62.5%;    // The idea is that 16 * 625 = 10 (10px = 1rem) --> so if we say 2rem = 20px
}

body {
    font-size: $font-size-xs;
    color: $grey-text;
    line-height: 1.6;
    font-family: $font-main;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    color: red;
    font-weight: bold;   
}

.d1, .d2 {
    font-weight: 600;
    color: $grey-darker;
}

.d1 { font-size: $font-size-xl; }
.d2 { font-size: $font-size-lg; }
.d3 { font-size: $font-size-md; }
.d4 { font-size: $font-size-sm; }