
$font-main: acumin-pro, sans-serif;
// Font sizes
$font-size-xl: 5rem; 
$font-size-lg: 3rem; 
$font-size-md: 2rem; 
$font-size-sm: 1.8rem; 
$font-size-xs: 1.6rem; 
$font-size-xxs: 1.4rem; 
// Spacing and Size
$s-size: 1.5rem;
$m-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
// colours
$dark-blue: #364051;
$dark-grey: #333333;
$blue: #4fa6ff;
$green: #38f885;
$white: #fff;
$grey-darker: #2f2f2f;
$grey-text: #656565;
$grey: #afafaf;
$grey-light: #f3f3f3;
// media queries
$desktop-breakpoint: 45rem;

// Classes layout (flex)
.flexer { display: flex; }
.space-between { justify-content: space-between; }

.margin-right--sm { margin-right: $s-size }